/* CSS declarations go here */

/* General style */
body {
	background-image: url(/white_wall_hash.png);
}

.login-button {
	padding-top: 20px;
}

.entry-form {
}

.post {
	background-color: #fff;
}
.post .icon-remove {
	cursor: pointer;
}

.post-content {
	margin-left: 50px;
	word-wrap: break-word;
}

.post-infos {
	color: #888;
	border-top: 1px dashed #999;
	margin: 0;
	padding-top: 10px;
}

.post-infos .icon-tag {
	margin-left: 20px;
}

.post-infos .comments {
	cursor: pointer;
}

.post-infos .tags-list {
}

.post-infos .tag:hover {
	color: #000;
	font-weight: bold;
}

.score-buttons {
	text-align: center;
}

.tag {
	cursor: pointer;
}

/* Overide bootstrap style */
h1 {
  color: #000;
}

body {
  padding-top: 80px;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

.navbar .brand {
	font-size: 20px;
	margin: 0;
	padding: 0;
}

.navbar .nav {
	margin-left: 20px;
	padding-top: 15px;
}

.navbar .nav > li > a.selected {
	color: #fff;
	font-weight: normal;
}

.navbar .nav > li > a:hover {
	color: #000;
	font-weight: bold;
}
